.bgPatternContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;
    background: transparent;
    /* GPU acceleration on container level */
    will-change: transform;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.rotatedWrapper {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    transform: rotate(30deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.patternRow {
    width: 100%;
    height: 60px;
    background-color: var(--color-miku);
    /* Use var for color if possible, but keeping original for fidelity */

    -webkit-mask-image: url('/loading.webp');
    mask-image: url('/loading.webp');

    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;

    -webkit-mask-size: auto 90%;
    mask-size: auto 90%;

    -webkit-mask-position: center;
    mask-position: center;

    opacity: 0.05;

    animation: scrollLeft 120s linear infinite;

    margin-bottom: 5px;

    /* GPU acceleration hints for animation */
    will-change: mask-position, -webkit-mask-position;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.patternRow.reverse {
    animation: scrollRight 120s linear infinite;
    opacity: 0.03;
}

/* Power saving mode - static pattern */
.patternRow.static {
    animation: none !important;
    will-change: auto;
}

@keyframes scrollLeft {
    0% {
        -webkit-mask-position: 0 center;
        mask-position: 0 center;
    }

    100% {
        -webkit-mask-position: -200vw center;
        mask-position: -200vw center;
    }
}

@keyframes scrollRight {
    0% {
        -webkit-mask-position: 0 center;
        mask-position: 0 center;
    }

    100% {
        -webkit-mask-position: 200vw center;
        mask-position: 200vw center;
    }
}